#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
* {
  font-family: sans-serif;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.Profile {
  font-family: sans-serif;
  padding: 35px 10px;
}
.Followers-button {
  border: 0.1px solid black;
  font-size: 20px;
  background-color: rgb(166, 207, 226);
  border-radius: 5px;
  padding: 5px;
  margin-top: 15px;
}
.Following-button {
  border: 0.1px solid black;
  font-size: 20px;
  background-color: rgb(166, 207, 226);
  border-radius: 5px;
  padding: 5px;
  margin-top: 1 5px;
}

.Homepage-button {
  border: 0.1px solid black;
  font-size: 20px;
  background-color: rgb(166, 207, 226);
  border-radius: 5px;
  padding: 5px;
  margin-top: 15px;
}
.title {
  font-size: 30px;
  font-weight: 600;
  margin-top: 15px;
}
.repo {
  margin-top: 20px;
}
.followers-title {
  font-size: 30px;
  padding-top: 30px;
  font-weight: 600;
}
.up {
  margin-top: 15px;
}
h2 {
  border: 1px solid black;
}
.input-box {
  display: flex;
  justify-content: space-around;
}
.input {
  padding: 10px 60px;
}
.button {
  background-color: aquamarine;
  padding: 15px 30px;
}
